body {
    background-color: palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.index_form{
    background-color: white;
    color: palevioletred;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.klickahar{
    height: 50px;
    width: 300px;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;

}
.wrapper{
    margin: 20px;
    background-color: plum;
}
.visa_detta {
    position: fixed;
    left: calc(50vw - 100px);
    top: 300px;
    width: 300px;
}
.notes{
    margin: 50px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.note{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}
.delete{
    margin: 5px;
    border-radius: 5px;
}
.notis{
    margin-left: 5px;
}
.loggaut{
    background-color: white;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logga{
    text-decoration: none;
    color: black;
}
.index_pos{
    margin: 50px;
    
}